<ModConfiguration>
<Id>ReikaKalseki.FortressTweaks</Id>
<Name>FortressTweaks</Name>
<Version>1</Version>
<IsLocalMod>false</IsLocalMod>
<IsServerOnlyMod>false</IsServerOnlyMod>
<Description>
	Tweaks a few behaviors across the game, primarily to add QoL fixes. This includes, but is not limited to, things like the following:
	-You can now click through the top half of hydroponics bays to the plants below
	-Gas compressors now run faster if more than 50% full of power, with increasing speed as they approach 100%
	-Particle compressors now have higher yields if more than 50% full of power, with increasing speed as they approach 100%, but this increases PPS usage
	-Geothermal well shaft digging can now penetrate magmacite and other ore below 1050m that blocks it from reaching the lava
	-Motor belts can now pull directly from Continuous Casting Basins (helps fix "overload jamming" that can result from stack size mods)
	-Mk3 grapple gun is now full speed in ALL caverns, not just the cold one
	-Hive brains are now producible from recombined organic matter at a cost of 60 units
	-Being able to craft several equivalent-cost blocks and multiblock components (eg blast furnace and casting basin, or minecart track pieces) between each other
	-Energy Grommet and Logistics Grommet blocks no longer count as glass for room-definition purposes
	-Magma bore power cost now scales with difficulty settings: halved on casual or -25% on "easy" resources setting; an additional halving for rush mode, and an additional -20% for "easy power" setting
	-Freight carts now have a 25/tick loading throughput vs the original 5 (which is scarcely better than minecarts)
	-Ampules can now be uncrafted back to seeds
	-Hive brain now yields 25 research points instead of 10
	-Add a recipe to produce geothermal blocks from heimal blocks rather than the chromed and magnetic blocks (one each of which make a heimal block), for a slight (10%) discount
	-MadVandal's logistics falcors can now be downgraded from T2 to T1
	-Conduits can go through energy grommets aligned with their central axis
	-Eliminated FALCOR beacon sky requirement
	-Eliminated item despawn due to aging
	-Greatly increased sharing from high-tier to low-tier PSBs, to help keep the latter full if the former is
	-Changed T2 lift recipe to use alloyed instead of ultimate modules (saving that for T3), but doubling the count
	-Added conversion recipes between the three hard resin harvesting blocks
	-Reduced output buffer of fuel compressor to 10 HOF
</Description>
</ModConfiguration>